html {
	/*margin-top:40px;*/
}

body {
	background-image: url(../images/worn_dots.png);
	font-family: 'Maven Pro', sans-serif;
}

/* font overrides */
.select2-container-multi .select2-choices .select2-search-field input,
input, button, select, textarea {
	font-family: 'Maven Pro', sans-serif;
}

@media screen and (min-width: 980px) {
	body {
		padding-top:40px;
	}
}

/* Twitter BootStrap corrections / modifications */

.brand i {
	line-height:14px;
}

.container {
	/*background-color: rgba(0,0,0,0.2);*/
}

.icon-column {
	/*width:35px !important;*/
}

.navbar .brand {
	/*color: white;*/
}

.navbar-inner {
	box-shadow: none !important;
}

.navbar-fixed-top {
	margin-bottom:0;
}

#about .huge-icons {
	font-size:13em;
}

#about .huge-icons {
	line-height: 1em !important;
}

.justify-text {
	text-align:justify;
}

#telephone {
	/*background-image: url(../images/wavecut.png);*/
	/*background-image: url(../images/blu_stripes.png);*/
	/*border:1px solid rgba(204,51,0, 0.1);*/
	border:1px solid rgba(0,0,0, 0.1);
	border-top:none;
	border-bottom-left-radius: 6px;
	border-bottom-right-radius: 6px;
	padding-bottom:5px;
	/*box-shadow: 0px 1px 20px rgba(1204,51,0, 0.4);*/
	box-shadow: 0px 1px 20px rgba(0,0,0, 0.2);

	background: rgb(212,228,239); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(212,228,239,1) 0%, rgba(134,174,204,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(212,228,239,1)), color-stop(100%,rgba(134,174,204,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(212,228,239,1) 0%,rgba(134,174,204,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(212,228,239,1) 0%,rgba(134,174,204,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(212,228,239,1) 0%,rgba(134,174,204,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(212,228,239,1) 0%,rgba(134,174,204,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d4e4ef', endColorstr='#86aecc',GradientType=0 ); /* IE6-9 */
}

#telephone hr {
	border-top: 1px solid rgba(0, 0, 0, 0.1);
	border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

#telephone .form-actions {
	/*background-color:rgba(204,51,0, 0.1);*/
	background-color:rgba(0,0,0, 0.03);
	border-top:none;
}

#telephone-title {
	padding-top:10px;
	margin-left:20px;
	margin-right:20px;
	text-shadow: 1px 1px rgba(255,255,255, 0.5);
}

#telephone-title small {
	color: rgba(0,0,0,0.5);
}

#telephone-select-wrap {
	padding-right: 20px;
	padding-left: 20px;
}

#telephone-select.span12 {
	/* inherited span12 automatically from parent element, should not indent twice */
	margin-left:0;
	margin-right:0;
}

#telephone-select-wrap #message-accordion .accordion-group,
#telephone-select-wrap #message-accordion .accordion-inner {
	border:none;
}

.thumbnail {
	background:white;
}

.line-spacing-medium {
	line-height:1.5em;
}

.about-thumbnail-summary {
	/*height:250px;*/
	padding-left:10px;
	padding-right:10px;
}

#about .thumbnail .form-actions {
	margin-bottom:0;
}

#about .thumbnail .form-actions .btn {
	font-size: 0.9em;
}

#text-message {
	width: 100%;
}

.thumbnail h3 {
	padding-left:10px;
	padding-right:10px;
}

footer {
	text-align:center;
	margin-top:20px;
	margin-bottom:40px;
}

table {
	background-color:white;
}

#welcome.hero-unit {
	background-color: #e0f2ff !important;
}
